body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.modal_cart {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;

}

.container-cart {
    padding: 25px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}




h1 {
    text-align: center;
}

.cart-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.cart-item-details {
    display: flex;
    align-items: center;
}

.cart-item-details h2 {
    margin: 0;
}

.cart-item-details p {
    margin: 5px 0;
}

.checkout-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.checkout-btn:hover {
    background-color: #0056b3;
}

.cart-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.cart-item {
    border: 1px solid #ccc;
    padding: 10px;
}

.cart-item-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-info img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.product-info h2 {
    margin-bottom: 5px;
}

.product-info p {
    margin: 0;
}

.deleteItemGrid {
    display: flex;
    align-items: center;
}


/* quantity control */
.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-btn {
    padding: 0.3em;
    /* Adjust the padding as needed */
    font-size: 10px;
    /* Adjust the font size as needed */
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    width: 20px;
    color: black;
}

.quantity {
    padding: 0 0.3em;
    /* Adjust the padding as needed */
    font-size: 1em;
    /* Adjust the font size as needed */
}

.deleteBtn {
    background-color: #ff0000;
    /* Red */
    color: #fff;
    /* White text */
}

 .close-icon-cart {
            margin-left: 97%;
            font-size: 25px;
            cursor: pointer;
            color: black;
            /* Adjust the color as needed */
        }

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

